@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import 'core/variables';
@import 'core/mixin';

@import 'layout/wrapper';
@import 'layout/header';
@import 'layout/footer';

@import 'components/menu';
@import 'components/typography';
@import 'components/hero';
@import 'components/titles';
@import 'components/aboutme';
@import 'components/socialmedia';
@import 'components/projects';
@import 'components/skills';
@import 'components/career';
@import 'components/icons';

@import 'pages/index';
