.career{
	background-color: #e3d9ca;
}

.line{
	margin: auto;
	width: 50px;
	height: 50px;
	background-image: url("/images/line-dots.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
