
.hero{
	background-image: url(/images/background-1409125_1280.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-box{
	border: 5px solid #ffffff;
	padding: 10px;
}

.arrow-down{
	width: 50px;
	height: 50px;
	background-image: url(/images/arrow-down.svg);
	background-repeat: none;
	background-size: contain;
	background-position: center;
	transform: translateY(200px);
}

.arrow-down:hover{
	width: 60px;
	height: 60px;
}
