
.hero{
	background-image: url(./images/background-1409125_1280.png)
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-box{
	border: 5px solid #ffffff;
	padding: 10px;
}
