.icon-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.icon-skill{
	width: 50%;
	min-width: 50px;
	height: 0;
	padding-top: 50px;
	margin: 20px auto;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon--js {
	background-image: url(/images/js.png);
}

.icon--html {
	background-image: url(/images/html-5.svg);
}

.icon--css {
	background-image: url(/images/css-3.svg);
}

.icon--sass {
	background-image: url(/images/sass.png);
}

.icon--bootstrap {
	background-image: url(/images/bootstrap.png);
}

.icon--react {
	background-image: url(/images/react.png);
}

.icon--git {
	background-image: url(/images/git.png);
}

.icon--zeplin {
	background-image: url(/images/zeplin.png);
}

.icon--photoshop {
	background-image: url(/images/photoshop.png);
}

.icon--illustrator {
	background-image: url(/images/illustrator.png);
}
