.header__navigation{
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	transform: translateX(-120%);
	transition: transform ease .7s, background ease .7s .5s;
	.menu-visible & {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		transform: translateX(0%);
	}
}

.menu{
	background-color: #ffffff;
	list-style: none;
	max-width: 200px;
	padding: 0;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
}
.item{
	display: block;
	padding: 15px 20px;
	border-bottom: 1px solid #596668;
	color: #596668;
}

.item:hover{
	background-color: #95a792;
	color: #ffffff;
	font-weight: bold;
}
