
.menu{
	display: none;
	background-color: #e3d9ca;
	list-style: none;
	padding: 0;
	height: 100vh;
	position: fixed;
	top: 80px;
	left: 0;

}
.item{
	display: block;
	padding: 15px 20px;
	border-bottom: 1px solid #596668;
	color: #596668;
}

.item:hover{
	background-color: #95a792;
	color: #ffffff;
	font-weight: bold;
}
