.title{
	font-family: 'Oswald';
	color: #ffffff;
	text-align: center;
	line-height: 30px;
}

.title-box--principal{
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
}

.title-box--subtitle{
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.title--section{
	color: #403f48;
	font-size: 24px;
	text-decoration: underline;
	padding-top: 20px;
	padding-bottom: 20px;
}

.subtitle{
	font-family: 'Oswald';
	text-align: center;
	line-height: 30px;
	color: #403f48;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.date{
	color: #403f48;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.paragraph{
	color: #403f48;
	line-height: 20px;
	text-align: center;
	padding-bottom: 15px;
}

.paragraph--important{
	font-weight: bold;
	font-size: 18px;
	color: #403f48;
}
