.title{
	font-family: 'Oswald';
	color: #ffffff;
	text-align: center;
}

.title-box--principal{
	font-size: 30px;
	font-weight: bold;
		line-height: 50px;
}

.title-box--subtitle{
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}
